.category {
  margin-top: 20px;
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.task {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: move;
  overflow: auto;
}

.hidden {
  display: none;
}
